# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual env
venv/
env/
*.env

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VS Code / IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Render deploy artifacts
build/
dist/
*.egg-info/
.envrc
.env.*
.env.local

# System files
Thumbs.db
